<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Liste de course</a>
        <ul id="nav-main" class="right hide-on-med-and-down">
            <li><a href="#formHistorique" class="modal-trigger">Historique</a></li>
            <li><a href="#formNewList" class="modal-trigger">Nouvelle liste</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3>Liste du </h3>

    <table>
        <tbody id="listTable">
        </tbody>
    </table>


    <div class="row">
        <form class="col s12">s
            <div class="row">
                <input type="number" placeholder="quantité" id="fieldQuantity" class="input-field col s1">
                <input type="text" placeholder="objet" id="fieldThing" class="input-field col s10">
                <button class="btn" type="button" onclick="indexController.newThing()" >+</button>
            </div>
        </form>
    </div>


    <!--<input type="number" placeholder="quantité" id="fieldQuantity">
    <input type="text" placeholder="objet" id="#fieldThing">
    <button class="btn" type="submit" onclick="">+</button>-->
</div>

