<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Liste de course</a>
        <ul id="nav-main" class="right hide-on-med-and-down">
            <li><a href="#formHistorique" class="modal-trigger">Historique</a></li>
            <li><a href="#formNewList" class="modal-trigger">Nouvelle liste</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <table id="tableAllLists" class="striped responsive-table" style="display: none;">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="tableBodyAllLists">
                </tbody>
            </table>
        </div>
    </div>
</div>

